body {
  color: white !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  padding: 0.5rem;
}

.navy {
  color: red !important;
}

.navy-btn {
  background-color: red !important;
}

.text-cap {
  text-transform: capitalize;
}

.alt-bg-color {
  background-color: #e1ded4;
}

.pic-border {
  border-radius: 0.5rem;
}

.form-input-size {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.form-btn {
  display: flex;
  justify-content: end;
  padding-bottom: 1rem;
}

.social-icon {
  padding-top: 1rem;
  font-size: xx-large;
}

.row-override {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: space-evenly;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.hero-text {
  position: absolute;
  top: 32%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.menu-img-sizer {
  height: 15rem;
  width: auto;
  object-fit: contain;
  vertical-align: middle;
  border-radius: 1rem;
  border: 0.125rem solid white;
}

.location-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
.jack-map {
  border-radius: 1rem;
}
